@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Hubot Sans';
    src: url('/fonts/Hubot-Sans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Hubot Sans', sans-serif;
}



