./server/__pycache__
./server/accounts/__pycache__
./server/accounts/migrations/__pycache__
./server/records/__pycache__
./server/records/migrations/__pycache__
./server/favorites/__pycache__
./server/favorites/migrations/__pycache__
./server/acordãos/__pycache__
./server/venv
.env
./out
./.vscode
__pycache__
norm/acordãos_in/atco1_acordaos.json
norm/acordãos_in/jcon_acordaos.json
norm/acordãos_in/jdgpj_acordaos.json
norm/acordãos_in/jsta_acordaos.json
norm/acordãos_in/jstj_acordaos.json
norm/acordãos_in/jtca_acordaos.json
norm/acordãos_in/jtcampca_acordaos.json
norm/acordãos_in/jtcampct_acordaos.json
norm/acordãos_in/jtcn_acordaos.json
norm/acordãos_in/jtrc_acordaos.json
norm/acordãos_in/jtre_acordaos.json
norm/acordãos_in/jtrg_acordaos.json
norm/acordãos_in/jtrl_acordaos.json
norm/acordãos_in/jtrp_acordaos.json
norm/acordãos_out/atco1_acordaos.json
norm/acordãos_out/jcon_acordaos.json
norm/acordãos_out/jdgpj_acordaos.json
norm/acordãos_out/jsta_acordaos.json
norm/acordãos_out/jstj_acordaos.json
norm/acordãos_out/jtca_acordaos.json
norm/acordãos_out/jtcampca_acordaos.json
norm/acordãos_out/jtcampct_acordaos.json
norm/acordãos_out/jtcn_acordaos.json
norm/acordãos_out/jtrc_acordaos.json
norm/acordãos_out/jtre_acordaos.json
norm/acordãos_out/jtrg_acordaos.json
norm/acordãos_out/jtrl_acordaos.json
norm/acordãos_out/jtrp_acordaos.json
